@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'quattrocento_sans';
  src: url('./assets/fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/quattrocentosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'quattrocento_sans';
    src: url('./assets/fonts/quattrocentosans-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/quattrocentosans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'quattrocento_sans';
    src: url('./assets/fonts/quattrocentosans-bolditalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/quattrocentosans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'quattrocento_sans';
    src: url('./assets/fonts/quattrocentosans-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/quattrocentosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
