@import './theme/colors';

/***********************************/
/*  Contenedores  */
$max-width: 100%;
$width: 100%;

/* Columnas Flex*/
$grid-columns: 12 !default;
$size: 1;

/* MENU */
/* Ancho Menu */
$nav-width-logo-center: 100%;

/* Menu normal */
$navbar__toogle: 36px;

/* Animaciones menu */
$transition-time: 700ms;
/* Submenu */
$width-submenu: 20rem;

/* Footer */
$footer-width: 70%;

/* Main */
// Sreen 1280x720
$padding-main: 154px;

/* Banner Post */
$title-font-size: calc(1.375rem + 1.5vw);

/* Margen base */
$base-margin: 10px;