.woocommerce-shop{
    .content-feature-post-store{
        margin: calc(#{$base-margin} * 2)  0;
        p{
            color: $color-primary;
        }
        .btn{
            margin-top: calc(#{$base-margin} * 2)  !important;
        }
    }
    .container-filter  {
        border-top: 1px solid rgba(145, 143, 145, 0.16);
        border-bottom: 1px solid rgba(145, 143, 145, 0.16);
        width: calc(100% - 30px);
        margin: 36px auto 15px;
        padding: 14px ;
        .filter-button {
            
            span{
                text-transform: uppercase;
                letter-spacing: 4px;
                color: $color-primary;
                font-family: $font-body;
                // font-size: calc(1rem + #{$font-size-base});
                padding: 0 8%;
                cursor: pointer;
                &:hover{
                    color: $color-secundary;
                    i{
                        color: $color-secundary;
                    }
                }
            }
        }
        .results{
            text-align: right;
            span{
                color: $color-primary;
                font-family: $font-body;
                // font-size: calc(0.8rem + #{$font-size-base});
                letter-spacing: 3.5px;
                padding: 0 4%;
            }
        }
        
    }
    .filter-category{
        max-width: 0px !important;
        visibility: hidden;
        transition: max-width $transition-time, visibility $transition-time;
        display: none;
        &.active{
            max-width: 23% !important;
            visibility: visible;
            display: flex;
        }
    }
    .filter-results{
        transition: max-width $transition-time, width $transition-time;
        &.col-9{
            .grid-posts{
                grid-template-columns: repeat(auto-fit, minmax(30%, 30%)) !important;
            }
        }
    }
    .content-restults{
        //preubas
        .col-3{
            max-width: 23%;
        }
    }
    .grid-posts{
        padding: 24px 0px;
        grid-template-columns: repeat(auto-fit, minmax(30%, 30%)) !important;
        transition: grid-template-columns $transition-time;
        justify-content: center;
    }
    .accordion{
        padding: calc(#{$base-margin} * 4) 0px;
        margin: 0 8%;
    }
}
