/* Galeria fotografica */
.woocommerce-product-gallery{
	display: -ms-flexbox !important;
	display: flex !important;
	.flex-viewport{
		order: 2;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		border: 1px solid rgba(145, 143, 145, 0.16);
		margin-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		.woocommerce-product-gallery__image.flex-active-slide {
			margin: 5px !important;
			height: 400px !important;
		
		}
	}
	.flex-control-thumbs{
		order: 1;
		-ms-flex: 0 0 16.6666666667%;
		flex: 0 0 16.6666666667%;
		max-width: 16.6666666667%;
		li{
			margin: 5px;
			padding: 5px;
			border: 1px solid rgba(145, 143, 145, 0.16);
			list-style: none;
		}

	}
}
/* Detalles del producto */
.single-product-details{
	padding: 0px 50px;
	box-sizing: border-box;
}
/* Cantidad del producto */
.cart-button{
	display: flex;
	margin: #{$base-margin} auto;
	.quantity{
		margin-bottom: 20px;
		.qty {
			border: 1px solid;
			margin: 0 10px;
		}
	}
	.single_add_to_cart_button{
		flex: 0 0 90%;
		line-height: 1em !important;
		// @include button (6px !important, $color-secundary !important, 2px, $color-secundary!important, calc(0.6rem + #{$font-size-base}),  $color-secundary, $color-secundary, uppercase);
		&.disabled{
			// @include button (6px !important, $color-secundary !important, 2px, $color-secundary!important, calc(0.6rem + #{$font-size-base}),  $color-secundary, $color-secundary, uppercase);
		}
	}
	.cart {
		display: flex;
		width: 100%;
		flex-direction: column;
	}
}
.spinner{
	button{
		color: $color-primary;
	}
	.value{
		color: $color-primary;
		border-color: $color-primary !important;
		border-radius: 3px !important;
	}
}
.woocommerce-product-details__short-description{
	p{
		color: $color-primary;
		font-family: $font-body;
	}
}

.option-color{
	border: 1px solid $color-primary;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	margin-top: 0.25em;
	margin-left: 0.7em;
	padding: 0.25em;
	.color{
		width: 100%;
		height: 100%;
		display: block;
	}
}
.price{
	margin: calc(#{$base-margin} * 2)  0;
	color: $color-primary;
	font-weight: $bold;
}

.accordion-button .stock {
    float: right;
    text-transform: capitalize;
    color: #59B443;
    margin-right: 56px;
}
/* debug borrar */
.stock.in-stock{display: none;}
