.error404 {
    height: 100vh;
    padding-top: 130px;
    .container-fluid{text-align: center;}
    header{
        background-color: #4891b7;
        .navbar .menu .navbar-nav .nav-item .nav-link {color: $color-light; }
    }
    h1 {
        font-size: 33px;
        font-weight: 900;
        color: $color-secundary;
        padding-top: 10%;
        margin-bottom: 6%;
    }
    img{

    }
    button {
        margin-top: 50px;
    }

}