.banner--instagram {

	.banner__background-filter {
		background: rgb(0, 0, 0);
		background: linear-gradient(180deg, #000 8%, #3f3f3f26 30%, #34323212 35%, #34323212 65%, #3f3f3f26 70%, #000 92%);
	}
	.banner-end {
		justify-content: center;
		align-items: end;
		align-content: end;
		flex-flow: row wrap;
	}
	.banner__content {
		margin-bottom: 4rem;
		p,
		a {
			color: $color-light;
			font-family: $font-title;
			font-size: 2rem;
		}
		a {
			font-style: italic;
			font-size: 1.8rem;
		}
	}
}

.instragam__grid {
	width: 70%;
	margin-bottom: -10%;
}
.instragam__item {
	margin: 5%;
	border: 10px solid $color-light;
	figure {
		display: flex;
		img {
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		&:hover {
			img {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}
	}
}