.accordion{
	width: 100%;
	margin: $base-margin*2 0px;
	padding: 0.8rem 0;
	overflow: hidden;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: $color-primary;
	-webkit-transition: height $transition-time ease-in-out;
	-moz-transition: height $transition-time ease-in-out;
	transition: height $transition-time ease-in-out;
	.accordion__header{
		cursor: pointer;
		.accordion__title{
			margin-bottom: 0px !important;
			padding: 0px;
			position: relative;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px;
			i{
				margin-right: .8em;
				position: absolute;
				right: 0;
				line-height: 1.1em;
			}
		}
		i{
			transition: transform $transition-time;
		}
		&.open{
			i{

				transform: rotate(-180deg);
			}
		}
	} 
	.accordion__content{
		p:last-child{
			margin-bottom: 0px !important;
		}
	}    
}
//Apertura
.accordion,
.accordion[data-unfolded="false"] {
	.accordion__content {
		min-height: 0px;
		height: 0px;
		overflow: hidden;
		transition: min-height $transition-time ease, height $transition-time ease;
		
		&.open {
			height: auto;
			min-height: 20px;
			margin: $base-margin;
		}
	}
}

