.wp-block-buttons {
    margin-bottom: $base-margin*5;

    &.alignwide {
        max-width: 100%;
        width: $max-width;
    }

    &.alignfull {
        max-width: 100%;
        grid-template: 47px;
        height: 100vh;
        width: 100%;
    }

    &.alignright {
        float: right;
        margin-left: 10px;
    }

    &.alignleft {
        float: left;
        margin-right: 10px;
    }

    &.aligncenter {
        margin: 0 auto;
    }

    justify-content: center;
    display: flex;
}

.wp-block-button{
    display: inline-block;
    width: auto !important;
    position: relative;
    background: none;
    color: $color-primary;
    cursor: pointer;
    background: transparent;

    &::before,
    &::after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.2s linear;
        background: $color-primary ;
    }

    &::after {
        margin: 0 auto;
        width: 25%;
        right: 0;
        left: 0;
        bottom: 0;
        transition-delay: 0.6s;
    }

    &::before {
        right: 0;
        top: 0;
        transition-delay: 0.2s;
    }

    &:hover {
        &::before,
        &:hover::after {
            width: 100%;
        }
        &::after {
            transition-delay: 0s;
        }
        &::before {
            transition-delay: 0.4s;
        }
        a{
            &::after, &::before{ height: 100%; }
            &::after { transition-delay: 0.2s; }
            &::before {transition-delay: 0.6s; }
        }
    }

    .wp-block-button__link {
        display: block;
        color: $color-primary  !important;
        letter-spacing: 0.2em;
        font-weight: $regular;
        font-family: $font-quote;
        &::before,
        &::after {
            content: "";
            width: 2px;
            height: 0;
            position: absolute;
            transition: all 0.2s linear;
            background: $color-primary ;
        }

        &::after {
            transition-delay: 0.4s;
            right: 0;
            bottom: 0
        }

        &::before {
            transition-delay: 0s;
            left: 0;
            top: 0;
        }
    }
}

.is-style-outline> :where(.wp-block-button__link),
:where(.wp-block-button__link).is-style-outline {
    border: none !important;
}
