ul, ol{
    padding-left: 1rem;
    margin-bottom: 20px;
}
li {
    list-style-position: inside;
    color: $color-dark;
    &::marker {
        color: $color-secundary;
        font-size: 1rem;
    }
}