.quote {
    display: inline-block;
    // height: 100%;
    margin-top: $base-margin *3;
    padding: 20px;
    border: 1px solid $color-primary;
    position: relative;
    z-index: 999;

    // Quote slider
    .mrk-slider & {
        margin-top: 0;
        border: none;
    }

    .wp-block-quote {
        padding-bottom: 0.7rem;
        position: relative;
        text-align: center;
        font-weight: $black;
        background-color: $color-tertiary;
        color: $color-dark;

        // Quote slider
        .mrk-slider & {
            text-align: initial;
            background-color: transparent;

        }

        p {
            margin-bottom: 0 !important;
            padding: 60px 20px 20px;
            position: relative;
            font-family: $font-quote;
            font-weight: $regular;

            &::before {
                content: "\f10e";
                margin: 15px 20px;
                position: absolute;
                top: 0;
                left: 0;
                font-weight: 900;
                line-height: 1.2em;
                color: $color-dark;
                font-family: "Font Awesome 6 Pro";
                font-size: 40px;
            }

            // Quote slider
            .mrk-slider & {
                padding: 60px 0 20px;
                font-size: 20px;
                color: $color-primary;
                &::before {
                    width: 70px;
                    height: 70px;
                    margin: 0;
                    padding: 6px 9px;
                    box-sizing: border-box;
                    border-radius: 50px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    position: absolute;
                    z-index: -1;
                    top: 6%;
                    left: -10%;
                    font-weight: 900;
                    line-height: 1.2em;
                    color: $color-light;
                    background-color: $color-tertiary;
                }

            }
        }

        cite {
            display: block;
            padding-bottom: 20px;
            font-family: $font-body;
            color: $color-primary;
            font-style: italic;
            font-weight: $light;
            font-size: 20px;
            line-height: 22px;
            .mrk-slider &{
                color: $color-dark;
            }
        }
    }

    //Estilo desplazado 
    &.in-style-displaced {
        margin-bottom: -10rem;
    }
}