.in-style-title-section {
    margin-top: $base-margin*4;
    padding-left: 8rem;
    display: block;
    font-family: $font-quote;
    font-size: 4.5rem !important;
    font-weight: $regular;
    color: $color-dark  !important;
    text-transform: initial;
    line-height: 1.6rem;

    span {
        display: table;
        margin-left: -5rem;
        position: relative;
        color: $color-primary;
        font-family: $font-body;
        font-style: italic;
        font-size: 2.5rem;
        text-align: end;

        &::after {
            content: '';
            width: 200%;
            border-bottom: 3px solid $color-primary;
            position: absolute;
            left: -80%;
            bottom: -10px;
        }

    }

    &.has-text-align-right {
        padding-right: 8rem;    
        line-height: 3rem;
        position: relative;
    span {
            display: table;
            position: absolute;
            top: 20%;
            right: 2%;
            color: $color-primary;
            font-family: $font-body;
            font-style: italic;
            font-size: 2.5rem;
            text-align: end;
            &::after {
                content: '';
                width: 200%;
                border-bottom: 3px solid $color-primary;
                position: absolute;
                left: -80%;
                bottom: -10px;
            }

        }
    }
}
.in-style-title-big{
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 20rem;
    font-style: italic;
    font-weight: 700;
    line-height: 20rem;
    opacity: 0.34;    
    color: $color-tertiary !important;
}