.article {
	padding: 1rem;
	// &--img {}

	&--title {
		padding: 0;
		text-align: center;
		font-style: normal;
		font-weight: $bold;
		font-size: 15px;
		line-height: 18px;
		color:$color-light-grey;
	}

	&__feed {
		margin: 2rem auto;
    border-bottom: 1px solid $color-light-grey;

		.article--title {
			text-align: left;
		}
	}

	&--subtitle {
		margin-bottom: 0.5rem;
		font-weight: $bold;
		font-size: 15px;
		line-height: 18px;
	}

	&--excerpt {
		font-weight: $regular;
		font-size: 15px;
		line-height: 18px;
	}

	&--last-vote {
		font-weight: $bold;
		font-size: 15px;
		line-height: 18px;

		color: $color-light-grey;
	}
	&--vote{
		align-items: center;
	}
}