$heigth-banner: 100vh;
.banner {
	@include container-fluid;

	// margin-bottom: $base-margin*3;
	.banner__container {
		@include row;
	}

	&__background {
		height: $heigth-banner;
		margin: 0px !important;
		@include background;
	}
	&__background--filter {
		@include row;
		width: 100%;
		height: $heigth-banner;
		background-color: $banner-background;
	}
	&__background--parallax {
		height: $heigth-banner;
		margin: 0px !important;
		@include background-parallax;
	}

	&__container--centrado {
			-webkit-justify-content: center;
			-moz-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			align-items: center;

			.banner__content {
				text-align: center;
			}
	}

	.banner__content {
		.banner__title {
			color: $color-light  !important;
			font-size: $title-font-size;
			letter-spacing: 11px;
			font-weight: lighter;
			line-height: 5rem;
			margin-bottom: 0px !important;
		}
	}
.banner__link{
	position: relative;
	@include background-parallax;

	.fa-solid{
		display: none;
	}
	&:hover{
		.fa-thin{
			display: none;
		}
		.fa-solid{
			display: flex;
		}
	}
}
	.fa-play {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0px;
		cursor: pointer;
		margin: 15px 30px;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		text-align: center;
		position: relative;
		z-index: 1;
		color: #b7b6b6;
		-webkit-transition: box-shadow 0.2s;
		-moz-transition: box-shadow 0.2s;
		transition: box-shadow 0.2s;

		&::before {
			font-size: 48px;
			line-height: 90px;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
		}

		&::after {
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			content: '';
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			top: 0;
			left: 0;
			padding: 0;
			box-shadow: 0 0 0 3px #b7b6b6;
			-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
			-moz-transition: -moz-transform 0.2s, opacity 0.2s;
			transition: transform 0.2s, opacity 0.2s;
		}

		&:hover {
			box-shadow: 0 0 0 10px #b7b6b647;
			color: #b7b6b6;
		}
	}


	&.banner--movil {
		@media #{$large} {
			display: none;
		}
	}

	&.banner--desktop {
		@media #{$small-general} {
			display: none;
		}
	}
}