input{
    width: 90%;
    margin: 0.7rem;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    background: #F8F8F8;

    &::placeholder{
        color: $color-grey;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }

}

