.highlights {
    padding: 1rem;
    clear: both;
    .article{
        border: none;
    }
    &--title {
        padding: 0;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: $color-light-grey;
        text-transform: uppercase;
    }

    &--link {
        color: $color-tertiary;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline;
        float: right;
    }
}