.newsletter {
	p {
		font-family: $font-body;
		color: $newsletter-menu-text;
		text-transform: uppercase;
	}
	.form-control {
		display: block;
		position: relative;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		border: none;

		line-height: 1rem;
		padding: 3px #{$base-margin};
		margin-bottom: 0;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		box-sizing: border-box;
		&:focus {
			box-shadow: none;
			border: none;
		}
	}
	.input-group {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: stretch;
		align-items: stretch;
		width: 100%;
	}
}

