.container-pagination{
	margin: calc(#{$base-margin} * 2)  auto !important;
	.is-centered{
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	span, a{
		color: $color-primary !important;
		// font-size: calc(0.8rem + #{$font-size-base});
		margin: 0 #{$base-margin};
		line-height: 1rem;
	}
	a{
		&:hover{
			color: $color-primary;
		}
	}
	.pagination-link {
		color: $color-primary;
		background-color: $color-light;
		border: 1px solid $color-primary;
		padding: 5px 7px;
		margin: 0 1px;

		&:hover {
			color:$color-light;
			background-color: $color-secundary;
			border-color: $color-secundary;
		}
		&.current{
			color:$color-secundary !important;
			border-color: $color-secundary;
			&:hover{
				color:$color-primary !important;
			}
		}
	}

}
