.social-networks {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
	@media #{ $large } {
			margin-top: $base-margin*2;
	}
	.icon-social {
		padding: 5px;
		margin: 0 5px;
		@media #{ $large } {

		}
		i{
			color: $social-media-icon;
			&:hover{
				color: $social-media-icon-hover;
			}
		}
		// i { font-size: calc(1.5rem + #{$font-size-base}); }
	}
}

.footer__widgets .social-networks{
	i{
		font-size: 1.9rem;
		color: $footer-social-media-icon;
		&:hover{
			color: $footer-social-media-icon-hover;
		}
	}
}