.grid__item {
	border: 2px solid #d8d8d8;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	.grid__item__post {
		min-height: 290px;
		position: relative;
		background-color: rgba(78, 7, 39, 0.369);
	}
	.grid__item__img {
		
		max-width: 100%;
		height: auto;
	}
	.grid__item__date {
		display: flex;
		height: 22%;
		width: 22%;
		border-bottom-right-radius: 30px;
		position: absolute;
		top: 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $color-secundary;
		span {
			color: $color-light;
			font-size: calc(1rem + 0.1vw);
			font-weight: 900;
		}
	}
	.grid__item__title {
		display: flex;
		width: 80%;
		margin: 0 auto !important;
		border-radius: 30px;
		padding: 0.6rem 2rem;
		position: relative;
		top: -1.5rem;
		z-index: 2;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		color: #ffffff !important;
		font-size: calc(1em + 0.001vw);
		background-color: $color-secundary;
  }
	p {
		padding: 1rem;
		margin-bottom: 10px !important;
		text-align: center;
	}
	.grid__item__link {
		margin-bottom: calc(#{$base-margin} * 2);
		text-align: center;
		
		a {
			color: $color-secundary;
			font-weight: $bold;
			text-decoration: underline;
			&:hover {
				color: $color-primary;
			}
		}
	}
}
