/* Colores */
/***********************************/

$color-light: #ffffff;
$color-dark: #000000;
$color-grey: #787878;
$color-light-grey: #D2CDCD;
$color-primary: #5F50E4; 
$color-secundary: #BFFD7D;
$color-tertiary: #EF972C;

/* MENU */

/* Menu top */
$header-border-width: 2px;
$header-border: $color-dark;

/* Menu normal */
$header-background: $color-light;
$nav-link: $color-light;
$nav-link-hover:$color-secundary;

/* Menu Fijo */
$header-background-fixed: #ffffff;
$nav-link-fixed: $color-primary;

/* Menu slide - Movil */
$navbar__menu-background:$color-secundary;
/* Submenu */ 
$submenu-background: rgba(0,0,0,0.46);
$nav-link-submenu: $color-light;

/* Enlace */
$enlace: $color-secundary;
$enlace-hover: $color-primary;


/* Footer */
$footer-background: $color-dark;
$footer-text: #ffffff;
/* Menu footer */
$footer-menu-link: rgba(255, 255, 255, 0.76);
$footer-menu-link-hover: #4e0727 !important;

/* Social media icon */
$social-media-icon: $color-primary;
$social-media-icon-hover: $color-secundary;

$footer-social-media-icon: $color-secundary;
$footer-social-media-icon-hover: $color-light;

/* Newsletter */
$newsletter-btn: $color-secundary;
$newsletter-btn-text: #ffffff;
$newsletter-menu-text: rgba(255, 255, 255, 0.76);


/* Components */
/* Banner Post */
$banner-background: transparent;
$banner-background--instagram: transparent;

.orange{
  color: $color-tertiary;
}
.dark{
  color: $color-dark;
}