.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &--tile {
        color: $color-dark !important;
    }

    &--text {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }
}