/*Estilos menu generales*/
.navbar {
	display: -ms-flexbox;
	display: flex;
	max-width: $max-width;
	width: $max-width;
	margin: 0 auto;
	padding: calc(#{$base-margin}*2);
	position: fixed;
	z-index: 1;
	bottom: 0 !important;
	left: 0;
	background-color: $color-primary;

	&__nav {
		display: flex;
		width: $width;
		margin: 0 auto;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		position: relative;
		list-style: none;

		&::before {
			content: "";
			width: 20%;
			height: 21px;
			position: absolute;
			top: -90%;
			left: calc(50% - 30px);
			border-radius: 20px 20px 0 0;
			background: $color-primary;
		}

		.nav__item {
			position: relative;
		}

		.nav__link {
			display: block;
			margin-bottom: $base-margin;
			padding: 2px 0;
			border-bottom: 1px solid transparent;
			font-weight: $regular;
			font-family: $font-title;
			font-size: 1.4rem;
			text-decoration: none;
			.fa-duotone {
				color: $color-light;
			}
		}
	}


}