.single {
	.single__container{
		@include container($width, $max-width);
	}
	.single__info {

		margin: $base-margin * 1 auto;
		@media #{$large} {
			margin: calc(#{$base-margin} * 2) auto;
		}
		.single__date {
			text-transform: capitalize;
			color: $color-tertiary;
			margin-bottom: $base-margin !important;
		}
		.single__author {
			a{
				color: $color-secundary;
			}
			font-size: 0.9rem;
		}
	}
	.single__share{
		margin: $base-margin * 1 auto !important;
		@media #{$large} {
			margin: calc(#{$base-margin} * 2) auto;
		}

	}
	.single__title {
		margin-bottom: #{$base-margin};
	}
	.single__categories {
		margin: $base-margin * 1 auto;
		padding-left: 0;
		li {
			list-style: none;
			display: inline-block;
			color: $color-secundary;
			text-transform: uppercase;
			span {
				margin: 0 5px;
			}
			&:last-of-type {
				span {
					display: none;
				}
			}
		}
	}
	// .single__content {
	// }
	.single__tags {
		@include row;
		.single__tags__list {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0px;
			padding-top: 20px;
			margin-top: 10px;
			border-top: 1px solid $color-secundary;
		}

		@media #{$small-general} {
		}
		.single__tags__title {
			font-weight: $bold;
			text-transform: uppercase;
			margin-right: 5px;
			color: $color-secundary;
		}
		li {
			list-style: none;
			@media #{$small-general} {
				font-size: 12px;
			}
			a {
				color: $color-secundary;
				font-weight: $light;
				margin-left: 3px;
				&:hover {
					color: $color-tertiary;
				}
			}
		}
	}
}
