/*Contenedor Menu Base*/
header {
	width: $max-width;
	border-top: $header-border-width solid $header-border;
	background: $header-background;
	position: relative;
	z-index: 2;

	&.header__fixed {
		@media #{$large} {
			position: fixed;
			z-index: 999;
			top: 0 !important;
			left: 0;
		}
	}

	&.header__fixed-top {
		padding: 0;
		background: $header-background-fixed;

		.navbar .nav-link,
		.search,
		.hamburguer {
			color: $nav-link-fixed  !important;
		}

		.navbar {
			padding: 5px 0;
		}

		.navbar--top {
			padding: 0px;
		}

		.dropdown .arrow {
			padding: 0.3em 0px !important;
			font-size: 0.7rem;
		}
	}

	&.header__fixed-top .navbar--logo-center {
		.custom-logo-link {
			max-width: 60%;
		}

		.navbar--logo-center.navbar__menu {
			margin-top: 5px;
		}

		.dropdown .arrow {
			padding: 0.3em 0px;
			font-size: 0.7rem;
		}
	}

	body.admin-bar & {
		top: 46px !important;

		&.header__fixed {
			@media #{$large} {
				top: 32px !important;
			}
		}

		&.header__fixed-top {

			@media #{$small-general} {
				top: 0 !important;
			}
		}
	}
}